<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Chords, Tabs &amp; MIDI</h1>
      <h2 class="masthead-subheading mb-0">going to jam with friends? we got you...</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Check Features</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Chords & Tabs!</h2>
          <p>We have a large database of songs chords, and tabs which are updated daily. Also you can customize the tempo, transpose and so forth, of the chord sheet to your preference. It's all free. Just hop on, and start jamming...</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">MIDI Files!</h2>
          <p>Got an event coming by? Need some music that you need to play with a MIDI compatible device? Most songs we have are backed with a MIDI file. Just download it and get going... (MIDI section is still under construction)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Contribute!</h2>
          <p>Have a chord sheet of a popular song? You can contribute. (Contribute section is still under construction)</p>
        </div>
      </div>
    </div>
  </div>
</section>
