<div class="container mt-1">
  <div class="row">
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Search for artist..."/>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-primary w-100" (click)="newArtist()">New Artist</button>
    </div>
  </div>
</div>
<div class="container m-2 d-flex justify-content-center">
  <div class="row w-80">
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artists; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <p *ngFor="let nameValue of artist.name">
              {{ nameValue?.transliterated ? singlish.parse(nameValue?.text ?? '') : nameValue?.text ?? '' }}
            </p>
          <td>{{ artist.type?.join(', ') |titlecase}}</td>
          <td>
            <i class="icon-link link-warning" href="#" (click)="editArtist(i);">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            </i>
            <span class="d-inline-block w-1em"></span>
            <i class="icon-link link-danger" href="#" (click)="deleteArtist(artist._id);">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
