/* You can add global styles to this file, and also import other style files */
@import "theme";

$spacer: 1em;
$spacer_footer: 6em;

// Colors
$bs-pink: #ee0979;

@font-face {
  font-family: fn_chuty;
  src:url("assets/fonts/fn_chuty.ttf");
}

html, body {
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$spacer_footer;
  padding-bottom: $spacer_footer;
}

footer {
  height: 5em;
}

.h1-sinhala {
  font-family: fn_chuty;
  text-transform: none;
}

.brand-name {
  padding: 0;
}

.player-controls {
  border: 1px solid $bs-pink;
  border-radius: 0.25em;
}

.mr-1 {
  margin-right: $spacer * .25;
}

.mt-1 {
  margin-top: $spacer * .25;
}

.mt-4 {
  margin-top: $spacer * 1;
}

p.song-line, span.chord {
  font-family: monospace;
}

p.song-line-chorus-verse {
  margin-top: 2em;
}

span.time-signature {
  font-size: 0.75em;
}

span.chord, span.lyric {
  display: inline-block;
}

.w-1em {
  width: 1em;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}
