/* You can add global styles to this file, and also import other style files */
@import "theme";

$spacer: 1em;
$spacer_footer: 6em;

// Colors
$bs-pink: #ee0979;
$bs-red: #dc3545;
$bs-gray-200: #e9ecef;

@font-face {
  font-family: fn_chuty;
  src:url("assets/fonts/fn_chuty.ttf");
}

html, body {
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$spacer_footer;
  padding-bottom: $spacer_footer;
}

footer {
  height: 5em;
}

.h1-sinhala {
  font-family: fn_chuty;
  text-transform: none;
}

.brand-name {
  padding: 0;
}

.current-playing-chord {
  color: $bs-pink;
}

.player-controls {
  border: 1px solid $bs-pink;
  border-radius: 0.5em;
}


.song-content {
  $scroll-width: 0.2em;
  $scroll-border-radius: 0.1em;

  max-height: 65vh;
  overflow-y: scroll;

  // scroll bar
  /* width */
  &::-webkit-scrollbar {
    width: $scroll-width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: $scroll-width;
    background-color: $bs-gray-200;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $bs-pink;
    border-radius: $scroll-border-radius;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $bs-red;
  }
}

.mr-1 {
  margin-right: $spacer * .25;
}

.mt-1 {
  margin-top: $spacer * .25;
}

.mt-4 {
  margin-top: $spacer * 1;
}

p.song-line, span.chord {
  font-family: monospace;
}

p.song-line-chorus-verse {
  margin-top: 2em;
}

span.time-signature {
  font-size: 0.75em;
}

span.chord, span.lyric {
  display: inline-block;
}

.w-1em {
  width: 1em;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}
